.scannerwork

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.factorypath
.project
.settings
.metadata
.springBeans
.sts4-cache
bin/
tmp/
*.tmp
*.bak
*.swp
*.launch

### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
